[submodule "AFNetworking"]
	path = AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "KeychainItemWrapper"]
	path = KeychainItemWrapper
	url = git://gist.github.com/1170641.git
[submodule "UILabel-VerticalAlignment"]
	path = UILabel-VerticalAlignment
	url = https://github.com/ecentinela/UILabel-VerticalAlignment
[submodule "TSMessages"]
	path = TSMessages
	url = https://github.com/toursprung/TSMessages.git
[submodule "ECSlidingViewController"]
	path = ECSlidingViewController
	url = https://github.com/ECSlidingViewController/ECSlidingViewController.git
