[submodule "AFNetworking"]
	path = AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "UILabel-VerticalAlignment"]
	path = UILabel-VerticalAlignment
	url = https://github.com/ecentinela/UILabel-VerticalAlignment
[submodule "ECSlidingViewController"]
	path = ECSlidingViewController
	url = https://github.com/ECSlidingViewController/ECSlidingViewController.git
[submodule "TTOpenInAppActivity"]
	path = TTOpenInAppActivity
	url = https://github.com/honkmaster/TTOpenInAppActivity.git
[submodule "FMDB"]
	path = FMDB
	url = https://github.com/ccgus/fmdb.git
[submodule "FCModel"]
	path = FCModel
	url = https://github.com/marcoarment/FCModel.git
[submodule "PureLayout"]
	path = PureLayout
	url = https://github.com/smileyborg/PureLayout.git
[submodule "PDKeychainBindingsController"]
	path = PDKeychainBindingsController
	url = https://github.com/carlbrown/PDKeychainBindingsController.git
[submodule "KVNProgress"]
	path = KVNProgress
	url = https://github.com/kevin-hirsch/KVNProgress.git
[submodule "Marklight"]
	path = Marklight
	url = https://github.com/macteo/Marklight.git
[submodule "Markingbird"]
	path = Markingbird
	url = https://github.com/kristopherjohnson/Markingbird.git
[submodule "github-markdown-css"]
	path = github-markdown-css
	url = https://github.com/sindresorhus/github-markdown-css.git
[submodule "SWMessages"]
	path = SWMessages
	url = git@github.com:phedlund/SWMessages.git
