github "Alamofire/Alamofire"
github "Alamofire/AlamofireNetworkActivityIndicator" ~> 2.4.0
github "kstenerud/KSCrash"
github "kishikawakatsumi/KeychainAccess"
github "pkluz/PKHUD" ~> 5.0
github "iwasrobbed/Down"
github "SwiftKickMobile/SwiftMessages"
github "ruddfawcett/Notepad" "master"
